.block-img {
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.block-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #020f20;
  opacity: 0.4;
  z-index: 1;
}

.button {
  display: flex;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  max-width: 40px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  opacity: 0.7;
  border-radius: 20px;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}

.btn--blue {
  background-color: #3877ee;
  border: 1px solid #3877ee;
}

.btn--green {
  background-color: #6abf4b;
  border: 1px solid #6abf4b;
}

.button.clicked {
  overflow: hidden;
  max-width: 500px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.span {
  white-space: nowrap;
  margin-left: 15px;
  overflow: hidden;
  pointer-events: none;
}

.mark {
  display: block;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}

.mark::before,
.mark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 50%;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.mark::before {
  transform-origin: center;
  transform: translateY(-50%);
}

.mark::after {
  transform-origin: center;
  transform: translateY(-50%) rotate(90deg);
}

.mark.clicked::after {
  transform-origin: center center;
  transform: translateY(-50%) rotate(0deg);
}

.btn-1 {
  top: 21%;
  left: 71%;
}

.btn-2 {
  top: 26%;
  left: 30%;
}

.btn-3 {
  top: 37%;
  left: 60%;
}

.btn-4 {
  top: 45%;
  left: 36%;
}

.btn-5 {
  top: 44%;
  left: 74%;
}

.btn-6 {
  top: 58%;
  left: 56%;
}

.btn-7 {
  top: 66%;
  left: 23%;
}

.btn-8 {
  top: 73%;
  left: 58%;
}

.btn-9 {
  top: 62%;
  left: 68%;
}

.btn-10 {
  top: 66%;
  left: 83%;
}
